#states path {
  fill: #ddd;
  stroke: #fff;
}

#circles path {
  stroke: #fff;
}

path.arc {
  pointer-events: none;
  fill: none;
  stroke: #000;
  display: none;
}

path.cell {
  pointer-events: all;
  fill: none;
}

circle {
  fill: steelblue;
  fill-opacity: 0.65;
  stroke: #fff;
}

rect {
  fill-opacity: 0.65;
}
