body {
  font: 300 18px "Helvetica Neue";
  color: #000;
  height: 680px;
  width: 1020px;
  overflow: hidden;
  position: relative;
  margin: 10px 40px;
}

body > svg {
  position: absolute;
  top: 20px;
  left: 10px;
}

h1, h2, h3, p, ul {
  font-weight: inherit;
  margin: 0;
}

h1 {
  font-size: 64px;
}

h2 {
  text-align: right;
  font-size: 24px;
  right: 0;
  bottom: 0;
  position: absolute;
}

h3 {
  color: #aaa;
  text-align: left;
  font-size: 18px;
  right: 0;
  top: 35px;
  position: absolute;
}

ul {
  padding: 0;
  list-style-type: none;
}

h3.info {
  top: auto;
  right: auto;
  bottom: 0;
  left: 400px;
}

.bar {
  width: 1020px;
  height: 30px;
  background-color: #555;
  overflow: visible;
}

.bar h3, .bar p, .bar li {
  float: left;
  width: 253px;
  position: relative;
  top: 0;
  padding: 4px 0;
}

.bar h3 {
  padding-left: 8px;
}

.bar p, .bar li {
  color: #FFF;
  text-decoration: none;
}

.bar li:hover {
  color: #666;
  cursor: pointer;
}

.menuitem li {
  width: 160px;
  background-color: #555;
  padding-left: 10px;
  z-index: 1;
}

.sbbot {
  position: absolute;
  left: 0;
  bottom: 0;
}

.sbbot text {
  font-size: 14px;
}

.sbright {
  position: absolute;
  right: 0;
  bottom: 80px;
}

.sbright p {
  font-size: 14px;
  text-align: right;
}
